.uploadFileContainer {
    margin-top: 10px;
    cursor: pointer;
}

.fileUploader {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #C4C7CC;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

.fileUploader img {
    width: 20px;
    height: 20px;
}


