.dashboardHeaderContainer {
    width: 100vw;
    height: 54px;
    display: flex;
    align-items: center;
    background: #D0E0FF;
    position: fixed;
    top: 0;
    z-index: 9;
}

.dashboardBurgerContainer {
    cursor: pointer;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.dashboardBurgerContainer img {
    width: 32px;
    height: 32px;
}

.activeTabNameContainer {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-align: center;
}
