.metricSelectWrapper {
    display: flex;
    margin-bottom: 24px;
}

.metricSelectWrapperTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    display: flex;
    align-items: center;
    margin-right: 40px;
}